.div{
    width:40%;
    margin:auto;
    flex-wrap: wrap;
    display:flex;
    gap:2rem;
    margin-top:2rem;
   
}
.div > div{
    width:calc((100% - 2rem)/2)
}
.div > div > button{
    width:100%;
    padding:0.54rem;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
}
